.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 3.5rem;
}

.circle {
  width: 150px;
  height: 150px;
  border: 5px solid var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin: 1rem 0 0 3rem;
}

.details p {
  line-height: 1.5rem;
}

.badge {
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  background-color: var(--secondary);
}