.container {
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container section {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello {
  width: 50%;
  background-color: var(--primary);
  color: var(--light);
  font-size: 2rem;
  background: linear-gradient(90deg, var(--primary), var(--secondary));

}

.login {
  width: 50%;
  /* background-color: var(--secondary); */
  background: linear-gradient(90deg, var(--secondary), var(--primary));
}

@media (max-width: 763px) {
  .hello {
    display: none !important;
  }
  .login {
    width: 100%;
  }
}

.card {
  background-color: var(--light);
  min-width: 300px;
  max-width: 400px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

.card header {
  margin-bottom: 1rem;
}

.card input {
  margin: 0rem 0 1rem 0;
}

.card button {
  margin-bottom: 0.2rem;
}

.card small a {
  color: var(--secondary);
  transition: 200ms;
}

.card small a:hover {
  filter: brightness(90%);
}

.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 999;
  font-size: 2.5rem;
  color: var(--light);
  cursor: pointer;
}